/*Parte 2*/
nav{
    width: 960px;
    font-size: 1.4em;
}
nav ul{
    list-style: none;
    margin: 0px 0px 65px 0px; 
}
nav ul li{
    float: left;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    border-top: solid 2px white;
}
nav ul li a{
    text-decoration: none;
    padding: 0.3em 0.5em;
    display:block;
    color:white;
}
nav ul li a:hover{
    color: gainsboro;
    transform: scale(1.25);
}
nav ul li a#inicio{
    background: url("../img/home.png") no-repeat 0px 3px;
    padding-left: 40px;
}
nav ul li a#oferta{
    background: url("../img/oferta.png") no-repeat 0px 3px;
    padding-left: 40px;
}
nav ul li a#galeria{
    background: url("../img/galeria.png") no-repeat 0px 3px;
    padding-left: 40px;
}