USE [master]
GO
/****** Object:  Database [AcomprendedoresDB]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE DATABASE [AcomprendedoresDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AcomprendedoresDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\AcomprendedoresDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AcomprendedoresDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\AcomprendedoresDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AcomprendedoresDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AcomprendedoresDB]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[CodigoUsuario] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[DUI] [nvarchar](10) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NULL,
	[CorreoElectronico] [nvarchar](150) NOT NULL,
	[DireccionPersonal] [nvarchar](255) NOT NULL,
	[SalarioMensual] [decimal](10, 2) NULL,
	[Telefono] [nvarchar](15) NOT NULL,
	[Clave] [nvarchar](255) NOT NULL,
	[TipoUsuario] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[CodigoUsuario] [nvarchar](20) NOT NULL,
	[EstadoFamiliar] [nvarchar](50) NULL,
	[Puesto] [nvarchar](100) NOT NULL,
	[Departamento] [nvarchar](100) NOT NULL,
	[Profesion] [nvarchar](100) NULL,
	[FechaContratacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ObtenerEmpleados]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- VISTAS
-- =============================================

-- Vista ObtenerEmpleados
CREATE VIEW [dbo].[ObtenerEmpleados]
AS
SELECT 
    u.CodigoUsuario, u.Nombre, u.Apellido, u.DUI, u.FechaNacimiento, 
    u.Edad, u.CorreoElectronico, u.DireccionPersonal, u.SalarioMensual,
    u.Telefono, u.Clave, u.TipoUsuario, u.FechaCreacion, u.Estado, 
    e.EstadoFamiliar, e.Puesto, e.Departamento, e.Profesion, e.FechaContratacion
FROM Usuario u
INNER JOIN Empleado e ON u.CodigoUsuario = e.CodigoUsuario;

GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodigoUsuario] [nvarchar](20) NOT NULL,
	[DireccionTrabajo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ObtenerClientes]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista ObtenerClientes
CREATE VIEW [dbo].[ObtenerClientes]
AS
SELECT 
    u.CodigoUsuario, u.Nombre, u.Apellido, u.DUI, u.FechaNacimiento, 
    u.Edad, u.CorreoElectronico, u.DireccionPersonal, u.SalarioMensual,
    u.Telefono, u.Clave, u.TipoUsuario, u.FechaCreacion, u.Estado, 
    c.DireccionTrabajo
FROM Usuario u
INNER JOIN Cliente c ON u.CodigoUsuario = c.CodigoUsuario;

GO
/****** Object:  Table [dbo].[CarteraVirtual]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarteraVirtual](
	[CodigoCartera] [nvarchar](20) NOT NULL,
	[CodigoCliente] [nvarchar](20) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoCartera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoFinancieros]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoFinancieros](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[CodigoCartera] [nvarchar](20) NOT NULL,
	[TipoProducto] [nvarchar](20) NOT NULL,
	[FechaAdquisicion] [date] NOT NULL,
	[FechaCierre] [date] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DirectorioClientes]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista DirectorioClientes
CREATE VIEW [dbo].[DirectorioClientes]
AS
SELECT 
    u.CodigoUsuario,
    cv.CodigoCartera,
    u.Nombre,
    u.Apellido,
    u.DUI,
    COUNT(DISTINCT CASE WHEN pf.TipoProducto = 'Cuenta' THEN pf.NumeroProducto END) AS CantidadCuentas,
    COUNT(DISTINCT CASE WHEN pf.TipoProducto = 'Prestamo' THEN pf.NumeroProducto END) AS CantidadPrestamos,
    COUNT(DISTINCT CASE WHEN pf.TipoProducto = 'Tarjeta' THEN pf.NumeroProducto END) AS CantidadTarjetas,
    u.Estado
FROM Cliente c
INNER JOIN Usuario u ON c.CodigoUsuario = u.CodigoUsuario
LEFT JOIN CarteraVirtual cv ON c.CodigoUsuario = cv.CodigoCliente
LEFT JOIN ProductoFinancieros pf ON cv.CodigoCartera = pf.CodigoCartera
WHERE cv.CodigoCartera IS NOT NULL
GROUP BY cv.CodigoCartera, u.Nombre, u.Apellido, u.DUI, u.Estado, u.CodigoUsuario;

GO
/****** Object:  Table [dbo].[Beneficiarios]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiarios](
	[IdBeneficiario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[DUI] [nvarchar](10) NOT NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBeneficiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DUI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[TipoCuenta] [nvarchar](20) NOT NULL,
	[Saldo] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[TipoPrestamo] [nvarchar](20) NOT NULL,
	[MontoOtorgado] [decimal](15, 2) NOT NULL,
	[SaldoPendiente] [decimal](15, 2) NOT NULL,
	[PlazoMeses] [int] NOT NULL,
	[Cuota] [decimal](10, 2) NOT NULL,
	[FechaLimitePago] [date] NOT NULL,
	[TasaInteres] [decimal](5, 2) NOT NULL,
	[CuotaSeguro] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamoAgropecuario]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamoAgropecuario](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[TipoActividad] [nvarchar](100) NOT NULL,
	[DescripcionActividad] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamoHipotecario]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamoHipotecario](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[ValorPropiedad] [decimal](15, 2) NOT NULL,
	[TipoPropiedad] [nvarchar](100) NOT NULL,
	[DireccionPropiedad] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamoPersonal]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamoPersonal](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[NumeroReferencia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductosBeneficiarios]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductosBeneficiarios](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[IdBeneficiario] [int] NOT NULL,
	[FechaAsignacion] [datetime] NULL,
 CONSTRAINT [PK_ProductosBeneficiarios] PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC,
	[IdBeneficiario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[NumeroTarjeta] [nvarchar](16) NOT NULL,
	[TipoTarjeta] [nvarchar](20) NOT NULL,
	[LimiteMonto] [decimal](12, 2) NOT NULL,
	[TipoRed] [nvarchar](50) NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[TasaInteres] [decimal](5, 2) NULL,
	[CostoMembresia] [decimal](8, 2) NULL,
	[FechaExpiracion] [date] NOT NULL,
	[CVV] [nvarchar](4) NOT NULL,
	[PIN] [nvarchar](255) NULL,
	[EstadoTarjeta] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroTarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaCredito]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaCredito](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[LimiteCredito] [decimal](15, 2) NOT NULL,
	[SaldoUtilizado] [decimal](15, 2) NULL,
	[FechaCorte] [date] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[PagoMinimo] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarjetaDebito]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarjetaDebito](
	[NumeroProducto] [nvarchar](30) NOT NULL,
	[SaldoDisponible] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[NumeroReferencia] [nvarchar](50) NOT NULL,
	[CodigoEmpleado] [nvarchar](20) NULL,
	[CodigoCartera] [nvarchar](20) NOT NULL,
	[NumeroProducto] [nvarchar](30) NULL,
	[TipoTransaccion] [nvarchar](50) NOT NULL,
	[MontoTransaccion] [decimal](15, 2) NOT NULL,
	[FechaTransaccion] [datetime] NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroReferencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cliente]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_cliente] ON [dbo].[CarteraVirtual]
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_departamento]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_departamento] ON [dbo].[Empleado]
(
	[Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_puesto]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_puesto] ON [dbo].[Empleado]
(
	[Puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cartera_transaccion]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_cartera_transaccion] ON [dbo].[Transaccion]
(
	[CodigoCartera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_fecha_transaccion]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_fecha_transaccion] ON [dbo].[Transaccion]
(
	[FechaTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_producto_transaccion]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_producto_transaccion] ON [dbo].[Transaccion]
(
	[NumeroProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_tipo_transaccion]    Script Date: 10/26/2025 11:42:24 PM ******/
CREATE NONCLUSTERED INDEX [idx_tipo_transaccion] ON [dbo].[Transaccion]
(
	[TipoTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beneficiarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[CarteraVirtual] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[CarteraVirtual] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ((0.00)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Empleado] ADD  DEFAULT (getdate()) FOR [FechaContratacion]
GO
ALTER TABLE [dbo].[Prestamo] ADD  DEFAULT ((0.00)) FOR [CuotaSeguro]
GO
ALTER TABLE [dbo].[ProductoFinancieros] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[ProductosBeneficiarios] ADD  DEFAULT (getdate()) FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Tarjeta] ADD  DEFAULT ((0.00)) FOR [TasaInteres]
GO
ALTER TABLE [dbo].[Tarjeta] ADD  DEFAULT ((0.00)) FOR [CostoMembresia]
GO
ALTER TABLE [dbo].[Tarjeta] ADD  DEFAULT ('Activa') FOR [EstadoTarjeta]
GO
ALTER TABLE [dbo].[TarjetaCredito] ADD  DEFAULT ((0.00)) FOR [SaldoUtilizado]
GO
ALTER TABLE [dbo].[TarjetaDebito] ADD  DEFAULT ((0.00)) FOR [SaldoDisponible]
GO
ALTER TABLE [dbo].[Transaccion] ADD  DEFAULT (getdate()) FOR [FechaTransaccion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[CarteraVirtual]  WITH CHECK ADD  CONSTRAINT [FK_Cartera_Cliente] FOREIGN KEY([CodigoCliente])
REFERENCES [dbo].[Cliente] ([CodigoUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CarteraVirtual] CHECK CONSTRAINT [FK_Cartera_Cliente]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([CodigoUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Usuario]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Producto] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[ProductoFinancieros] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Producto]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Usuario] FOREIGN KEY([CodigoUsuario])
REFERENCES [dbo].[Usuario] ([CodigoUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Usuario]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [FK_Prestamo_Producto] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[ProductoFinancieros] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [FK_Prestamo_Producto]
GO
ALTER TABLE [dbo].[PrestamoAgropecuario]  WITH CHECK ADD  CONSTRAINT [FK_PA_Prestamo] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[Prestamo] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrestamoAgropecuario] CHECK CONSTRAINT [FK_PA_Prestamo]
GO
ALTER TABLE [dbo].[PrestamoHipotecario]  WITH CHECK ADD  CONSTRAINT [FK_PH_Prestamo] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[Prestamo] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrestamoHipotecario] CHECK CONSTRAINT [FK_PH_Prestamo]
GO
ALTER TABLE [dbo].[PrestamoPersonal]  WITH CHECK ADD  CONSTRAINT [FK_PP_Prestamo] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[Prestamo] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PrestamoPersonal] CHECK CONSTRAINT [FK_PP_Prestamo]
GO
ALTER TABLE [dbo].[ProductoFinancieros]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Cartera] FOREIGN KEY([CodigoCartera])
REFERENCES [dbo].[CarteraVirtual] ([CodigoCartera])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductoFinancieros] CHECK CONSTRAINT [FK_Producto_Cartera]
GO
ALTER TABLE [dbo].[ProductosBeneficiarios]  WITH CHECK ADD  CONSTRAINT [FK_PB_Beneficiario] FOREIGN KEY([IdBeneficiario])
REFERENCES [dbo].[Beneficiarios] ([IdBeneficiario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductosBeneficiarios] CHECK CONSTRAINT [FK_PB_Beneficiario]
GO
ALTER TABLE [dbo].[ProductosBeneficiarios]  WITH CHECK ADD  CONSTRAINT [FK_PB_Producto] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[ProductoFinancieros] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductosBeneficiarios] CHECK CONSTRAINT [FK_PB_Producto]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Producto] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[ProductoFinancieros] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Producto]
GO
ALTER TABLE [dbo].[TarjetaCredito]  WITH CHECK ADD  CONSTRAINT [FK_TC_Tarjeta] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[Tarjeta] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TarjetaCredito] CHECK CONSTRAINT [FK_TC_Tarjeta]
GO
ALTER TABLE [dbo].[TarjetaDebito]  WITH CHECK ADD  CONSTRAINT [FK_TD_Tarjeta] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[Tarjeta] ([NumeroProducto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TarjetaDebito] CHECK CONSTRAINT [FK_TD_Tarjeta]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Cartera] FOREIGN KEY([CodigoCartera])
REFERENCES [dbo].[CarteraVirtual] ([CodigoCartera])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Cartera]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Empleado] FOREIGN KEY([CodigoEmpleado])
REFERENCES [dbo].[Empleado] ([CodigoUsuario])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Empleado]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Producto] FOREIGN KEY([NumeroProducto])
REFERENCES [dbo].[ProductoFinancieros] ([NumeroProducto])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Producto]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [CK_Saldo] CHECK  (([Saldo]>=(0)))
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [CK_Saldo]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Monto] CHECK  (([MontoOtorgado]>(0)))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_Monto]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Plazo] CHECK  (([PlazoMeses]>(0)))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_Plazo]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_SaldoPendiente] CHECK  (([SaldoPendiente]>=(0)))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_SaldoPendiente]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [CK_Tasa] CHECK  (([TasaInteres]>=(0)))
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [CK_Tasa]
GO
ALTER TABLE [dbo].[PrestamoHipotecario]  WITH CHECK ADD  CONSTRAINT [CK_ValorPropiedad] CHECK  (([ValorPropiedad]>(0)))
GO
ALTER TABLE [dbo].[PrestamoHipotecario] CHECK CONSTRAINT [CK_ValorPropiedad]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [CK_LimiteTarjeta] CHECK  (([LimiteMonto]>(0)))
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [CK_LimiteTarjeta]
GO
ALTER TABLE [dbo].[TarjetaCredito]  WITH CHECK ADD  CONSTRAINT [CK_LimiteCredito] CHECK  (([LimiteCredito]>(0)))
GO
ALTER TABLE [dbo].[TarjetaCredito] CHECK CONSTRAINT [CK_LimiteCredito]
GO
ALTER TABLE [dbo].[TarjetaCredito]  WITH CHECK ADD  CONSTRAINT [CK_SaldoUtilizado] CHECK  (([SaldoUtilizado]>=(0)))
GO
ALTER TABLE [dbo].[TarjetaCredito] CHECK CONSTRAINT [CK_SaldoUtilizado]
GO
ALTER TABLE [dbo].[TarjetaDebito]  WITH CHECK ADD  CONSTRAINT [CK_SaldoDisponible] CHECK  (([SaldoDisponible]>=(0)))
GO
ALTER TABLE [dbo].[TarjetaDebito] CHECK CONSTRAINT [CK_SaldoDisponible]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [CK_MontoTransaccion] CHECK  (([MontoTransaccion]>(0)))
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [CK_MontoTransaccion]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCuentas]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PROCEDIMIENTOS ALMACENADOS
-- =============================================

-- SP ObtenerCuentas
CREATE PROCEDURE [dbo].[ObtenerCuentas]
    @CodigoCartera NVARCHAR(10)
AS
BEGIN
    SELECT 
        c.NumeroProducto, 
        c.TipoCuenta,
        c.Saldo, 
        pf.FechaAdquisicion,
        pf.FechaCierre,
        pf.Estado
    FROM ProductoFinancieros pf
    INNER JOIN CarteraVirtual cv ON pf.CodigoCartera = cv.CodigoCartera
    INNER JOIN Cuenta c ON pf.NumeroProducto = c.NumeroProducto
    WHERE cv.CodigoCartera = @CodigoCartera;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerPrestamo]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP ObtenerPrestamo
CREATE PROCEDURE [dbo].[ObtenerPrestamo]
    @CodigoCartera NVARCHAR(10),
    @TipoPrestamo NVARCHAR(10)
AS
BEGIN
    SELECT 
        p.NumeroProducto,
        p.TipoPrestamo,
        p.MontoOtorgado,
        p.SaldoPendiente,
        p.PlazoMeses,
        p.Cuota,
        p.FechaLimitePago,
        p.TasaInteres,
        p.CuotaSeguro,
        ph.ValorPropiedad,
        ph.TipoPropiedad,
        ph.DireccionPropiedad,
        pa.TipoActividad,
        pa.DescripcionActividad,
        pp.NumeroReferencia,
        pf.FechaAdquisicion,
        pf.FechaCierre
    FROM Prestamo p
    INNER JOIN ProductoFinancieros pf ON p.NumeroProducto = pf.NumeroProducto
    INNER JOIN CarteraVirtual cv ON pf.CodigoCartera = cv.CodigoCartera
    LEFT JOIN PrestamoAgropecuario pa ON p.NumeroProducto = pa.NumeroProducto
    LEFT JOIN PrestamoHipotecario ph ON p.NumeroProducto = ph.NumeroProducto
    LEFT JOIN PrestamoPersonal pp ON p.NumeroProducto = pp.NumeroProducto
    WHERE cv.CodigoCartera = @CodigoCartera AND p.TipoPrestamo = @TipoPrestamo
    ORDER BY p.TipoPrestamo;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTarjetas]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP ObtenerTarjetas
CREATE PROCEDURE [dbo].[ObtenerTarjetas]
    @CodigoCartera NVARCHAR(10),
    @TipoTarjeta NVARCHAR(10)
AS
BEGIN
    SELECT
        t.NumeroProducto,
        t.NumeroTarjeta,
        t.TipoTarjeta,
        t.LimiteMonto,
        t.TipoRed,
        t.Categoria,
        t.TasaInteres,
        t.CostoMembresia,
        t.FechaExpiracion,
        tc.LimiteCredito,
        tc.SaldoUtilizado,
        tc.FechaCorte,
        tc.FechaPago,
        tc.PagoMinimo,
        td.SaldoDisponible,
        pf.FechaAdquisicion,
        pf.FechaCierre
    FROM Tarjeta t
    INNER JOIN ProductoFinancieros pf ON t.NumeroProducto = pf.NumeroProducto
    INNER JOIN CarteraVirtual cv ON pf.CodigoCartera = cv.CodigoCartera
    LEFT JOIN TarjetaCredito tc ON t.NumeroProducto = tc.NumeroProducto
    LEFT JOIN TarjetaDebito td ON t.NumeroProducto = td.NumeroProducto
    WHERE cv.CodigoCartera = @CodigoCartera AND t.TipoTarjeta = @TipoTarjeta
    ORDER BY t.TipoTarjeta;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTransaccionCliente]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP ObtenerTransaccionCliente
CREATE PROCEDURE [dbo].[ObtenerTransaccionCliente]
    @CodigoCartera NVARCHAR(10)
AS
BEGIN
    SELECT 
        t.NumeroReferencia,
        pf.TipoProducto,
        t.NumeroProducto,
        t.TipoTransaccion,
        t.MontoTransaccion,
        t.FechaTransaccion,
        t.Descripcion
    FROM Transaccion t
    INNER JOIN ProductoFinancieros pf ON t.CodigoCartera = pf.CodigoCartera
    WHERE pf.CodigoCartera = @CodigoCartera;
END

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTransaccionClientePorFecha]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTransaccionClientePorFecha]
    @CodigoCartera NVARCHAR(10),
    @FechaInicio DATE,
    @FechaFin DATE,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    -- Inicializar mensaje vacío
    SET @Mensaje = ''

    -- Validar que FechaFin no sea menor que FechaInicio
    IF @FechaFin < @FechaInicio
    BEGIN
        SET @Mensaje = 'La fecha final no puede ser menor que la fecha de inicio.'
        RETURN
    END

    -- Consulta principal
    SELECT 
        t.NumeroReferencia,
        pf.TipoProducto,
        t.NumeroProducto,
        t.TipoTransaccion,
        t.MontoTransaccion,
        t.FechaTransaccion,
        t.Descripcion
    FROM Transaccion t
    INNER JOIN ProductoFinancieros pf ON t.CodigoCartera = pf.CodigoCartera
    WHERE pf.CodigoCartera = @CodigoCartera
      AND t.FechaTransaccion BETWEEN @FechaInicio AND @FechaFin
    ORDER BY t.FechaTransaccion;

    -- Mensaje de éxito
    SET @Mensaje = 'Consulta realizada correctamente.'
END

GO
/****** Object:  StoredProcedure [dbo].[PagarPrestamo]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Procedimiento: PagarPrestamo
-- Descripción: Procesa el pago de un préstamo desde una cuenta del cliente
-- =============================================
CREATE PROCEDURE [dbo].[PagarPrestamo]
    @NumeroReferencia NVARCHAR(50),
    @NumeroProductoPrestamo NVARCHAR(30),
    @NumeroProductoCuenta NVARCHAR(30),
    @MontoPago DECIMAL(15,2),
    @TipoCuenta NVARCHAR(20),
    @CodigoCartera NVARCHAR(20),
    @Descripcion NVARCHAR(255),
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Variables
    DECLARE @SaldoCuenta DECIMAL(15,2);
    DECLARE @SaldoPendiente DECIMAL(15,2);
    DECLARE @CuotaMinima DECIMAL(10,2);
    DECLARE @NuevoSaldoPrestamo DECIMAL(15,2);
    DECLARE @EstadoPrestamo NVARCHAR(20);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Validar que la cuenta exista y pertenezca a la cartera
        IF NOT EXISTS (
            SELECT 1 
            FROM Cuenta c
            INNER JOIN ProductoFinancieros pf ON c.NumeroProducto = pf.NumeroProducto
            WHERE c.NumeroProducto = @NumeroProductoCuenta 
                AND pf.CodigoCartera = @CodigoCartera
                AND c.TipoCuenta = @TipoCuenta
                AND pf.Estado = 'Activo'
        )
        BEGIN
            SET @Mensaje = 'La cuenta seleccionada no existe o no pertenece a esta cartera.';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 2. Validar que el préstamo exista y pertenezca a la cartera
        IF NOT EXISTS (
            SELECT 1 
            FROM Prestamo p
            INNER JOIN ProductoFinancieros pf ON p.NumeroProducto = pf.NumeroProducto
            WHERE p.NumeroProducto = @NumeroProductoPrestamo 
                AND pf.CodigoCartera = @CodigoCartera
                AND pf.Estado = 'Activo'
        )
        BEGIN
            SET @Mensaje = 'El préstamo seleccionado no existe o no pertenece a esta cartera.';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 3. Obtener saldo de la cuenta
        SELECT @SaldoCuenta = Saldo
        FROM Cuenta
        WHERE NumeroProducto = @NumeroProductoCuenta;
        
        -- 4. Validar que hay fondos suficientes
        IF @SaldoCuenta < @MontoPago
        BEGIN
            SET @Mensaje = 'Fondos insuficientes. Saldo disponible: $' + CAST(@SaldoCuenta AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 5. Obtener información del préstamo
        SELECT 
            @SaldoPendiente = SaldoPendiente,
            @CuotaMinima = Cuota
        FROM Prestamo
        WHERE NumeroProducto = @NumeroProductoPrestamo;
        
        -- 6. Validar monto mínimo
        IF @MontoPago < @CuotaMinima
        BEGIN
            SET @Mensaje = 'El monto no puede ser menor al pago mínimo: $' + CAST(@CuotaMinima AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 7. Validar que no se pague más del saldo pendiente
        IF @MontoPago > @SaldoPendiente
        BEGIN
            SET @Mensaje = 'El monto no puede ser mayor al saldo pendiente: $' + CAST(@SaldoPendiente AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 8. Calcular nuevo saldo del préstamo
        SET @NuevoSaldoPrestamo = @SaldoPendiente - @MontoPago;
        
        -- 9. Determinar si el préstamo se liquidará
        IF @NuevoSaldoPrestamo <= 0
        BEGIN
            SET @NuevoSaldoPrestamo = 0;
            SET @EstadoPrestamo = 'Cerrado';
        END
        
        -- 10. Descontar de la cuenta
        UPDATE Cuenta
        SET Saldo = Saldo - @MontoPago
        WHERE NumeroProducto = @NumeroProductoCuenta;
        
        -- 11. Actualizar saldo del préstamo
        UPDATE Prestamo
        SET SaldoPendiente = @NuevoSaldoPrestamo
        WHERE NumeroProducto = @NumeroProductoPrestamo;
        
        -- 12. Si el préstamo se liquidó, actualizar estado del producto
        IF @EstadoPrestamo = 'Cerrado'
        BEGIN
            UPDATE ProductoFinancieros
            SET Estado = 'Cerrado',
                FechaCierre = GETDATE()
            WHERE NumeroProducto = @NumeroProductoPrestamo;
        END
        
        -- 13. Registrar la transacción
        INSERT INTO Transaccion (
            NumeroReferencia,
            CodigoEmpleado,
            CodigoCartera,
            NumeroProducto,
            TipoTransaccion,
            MontoTransaccion,
            FechaTransaccion,
            Descripcion
        )
        VALUES (
            @NumeroReferencia,
            NULL, -- No hay empleado involucrado en pago de cliente
            @CodigoCartera,
            @NumeroProductoPrestamo,
            'Pago de Préstamo',
            @MontoPago,
            GETDATE(),
            @Descripcion + ' - Cuenta: ' + @TipoCuenta
        );
        
        -- 14. Mensaje de éxito
        IF @NuevoSaldoPrestamo = 0
        BEGIN
            SET @Mensaje = 'Pago procesado exitosamente. ¡Préstamo liquidado! Monto pagado: $' + 
                          CAST(@MontoPago AS NVARCHAR(20));
        END
        ELSE
        BEGIN
            SET @Mensaje = 'Pago procesado exitosamente. Monto pagado: $' + 
                          CAST(@MontoPago AS NVARCHAR(20)) + 
                          '. Nuevo saldo: $' + CAST(@NuevoSaldoPrestamo AS NVARCHAR(20));
        END
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Mensaje = 'Error al procesar el pago: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[pc_BuscarCuentaDestino]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- STORED PROCEDURE 1: Buscar Cuenta Destino por Código de Usuario
-- =============================================
CREATE PROCEDURE [dbo].[pc_BuscarCuentaDestino]
    @CodigoUsuario NVARCHAR(20),
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el usuario exista
    IF NOT EXISTS (SELECT 1 FROM Usuario WHERE CodigoUsuario = @CodigoUsuario)
    BEGIN
        SET @Mensaje = 'El código de usuario no existe';
        RETURN;
    END
    
    -- Validar que sea un cliente
    IF NOT EXISTS (SELECT 1 FROM Cliente WHERE CodigoUsuario = @CodigoUsuario)
    BEGIN
        SET @Mensaje = 'El código ingresado no corresponde a un cliente';
        RETURN;
    END
    
    -- Buscar cartera y cuentas del usuario
    SELECT 
        u.CodigoUsuario,
        u.Nombre,
        u.Apellido,
        u.DUI,
        cv.CodigoCartera,
        c.NumeroProducto,
        c.TipoCuenta,
        c.Saldo,
        pf.Estado
    FROM Usuario u
    INNER JOIN Cliente cl ON u.CodigoUsuario = cl.CodigoUsuario
    INNER JOIN CarteraVirtual cv ON cl.CodigoUsuario = cv.CodigoCliente
    INNER JOIN ProductoFinancieros pf ON cv.CodigoCartera = pf.CodigoCartera
    INNER JOIN Cuenta c ON pf.NumeroProducto = c.NumeroProducto
    WHERE u.CodigoUsuario = @CodigoUsuario
        AND pf.TipoProducto = 'Cuenta'
        AND pf.Estado = 'Activo'
        AND cv.Estado = 'Activa'
        AND u.Estado = 'Activo';
    
    SET @Mensaje = 'Búsqueda exitosa';
END

GO
/****** Object:  StoredProcedure [dbo].[pc_RealizarTransferencia]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- STORED PROCEDURE 2: Realizar Transferencia
-- =============================================
CREATE PROCEDURE [dbo].[pc_RealizarTransferencia]
    @NumeroReferencia NVARCHAR(50),
    @CodigoCarteraOrigen NVARCHAR(20),
    @CodigoCarteraDestino NVARCHAR(20),
    @NumeroProductoOrigen NVARCHAR(30),
    @NumeroProductoDestino NVARCHAR(30),
    @MontoTransferencia DECIMAL(15,2),
    @Descripcion NVARCHAR(255),
    @CodigoEmpleado NVARCHAR(20) = NULL,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Constantes
    DECLARE @MontoMinimo DECIMAL(15,2) = 1.00;
    DECLARE @MontoMaximo DECIMAL(15,2) = 50000.00;
    DECLARE @ComisionTransferencia DECIMAL(15,2) = 0.50; -- $0.50 de comisión
    DECLARE @MontoTotal DECIMAL(15,2);
    DECLARE @SaldoOrigen DECIMAL(15,2);
    DECLARE @TipoCuentaOrigen NVARCHAR(20);
    DECLARE @TipoCuentaDestino NVARCHAR(20);
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- 1. Validar monto
        IF @MontoTransferencia < @MontoMinimo
        BEGIN
            SET @Mensaje = 'El monto mínimo para transferencias es $' + CAST(@MontoMinimo AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @MontoTransferencia > @MontoMaximo
        BEGIN
            SET @Mensaje = 'El monto máximo para transferencias es $' + CAST(@MontoMaximo AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 2. Calcular monto total con comisión
        SET @MontoTotal = @MontoTransferencia + @ComisionTransferencia;
        
        -- 3. Validar cuenta origen
        SELECT 
            @SaldoOrigen = c.Saldo,
            @TipoCuentaOrigen = c.TipoCuenta
        FROM Cuenta c
        INNER JOIN ProductoFinancieros pf ON c.NumeroProducto = pf.NumeroProducto
        WHERE c.NumeroProducto = @NumeroProductoOrigen
            AND pf.CodigoCartera = @CodigoCarteraOrigen
            AND pf.Estado = 'Activo';
        
        IF @SaldoOrigen IS NULL
        BEGIN
            SET @Mensaje = 'La cuenta de origen no existe o está inactiva';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 4. Validar saldo suficiente (monto + comisión)
        IF @SaldoOrigen < @MontoTotal
        BEGIN
            SET @Mensaje = 'Saldo insuficiente. Necesita: $' + CAST(@MontoTotal AS NVARCHAR(20)) + 
                          ' (incluye $' + CAST(@ComisionTransferencia AS NVARCHAR(10)) + ' de comisión)';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 5. Validar cuenta destino
        SELECT @TipoCuentaDestino = c.TipoCuenta
        FROM Cuenta c
        INNER JOIN ProductoFinancieros pf ON c.NumeroProducto = pf.NumeroProducto
        WHERE c.NumeroProducto = @NumeroProductoDestino
            AND pf.CodigoCartera = @CodigoCarteraDestino
            AND pf.Estado = 'Activo';
        
        IF @TipoCuentaDestino IS NULL
        BEGIN
            SET @Mensaje = 'La cuenta de destino no existe o está inactiva';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 6. Validar que no sean la misma cuenta
        IF @NumeroProductoOrigen = @NumeroProductoDestino
        BEGIN
            SET @Mensaje = 'No puede transferir a la misma cuenta';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- 7. Descontar de cuenta origen (monto + comisión)
        UPDATE Cuenta
        SET Saldo = Saldo - @MontoTotal
        WHERE NumeroProducto = @NumeroProductoOrigen;
        
        -- 8. Abonar a cuenta destino (solo el monto)
        UPDATE Cuenta
        SET Saldo = Saldo + @MontoTransferencia
        WHERE NumeroProducto = @NumeroProductoDestino;
        
        -- 9. Registrar transacción de DÉBITO en cuenta origen
        INSERT INTO Transaccion (
            NumeroReferencia,
            CodigoEmpleado,
            CodigoCartera,
            NumeroProducto,
            TipoTransaccion,
            MontoTransaccion,
            FechaTransaccion,
            Descripcion
        )
        VALUES (
            @NumeroReferencia + '-DEB',
            @CodigoEmpleado,
            @CodigoCarteraOrigen,
            @NumeroProductoOrigen,
            'Transferencia Enviada',
            @MontoTotal,
            GETDATE(),
            @Descripcion + ' - Enviado a: ' + @NumeroProductoDestino + ' (Incluye $' + 
            CAST(@ComisionTransferencia AS NVARCHAR(10)) + ' comisión)'
        );
        
        -- 10. Registrar transacción de CRÉDITO en cuenta destino
        INSERT INTO Transaccion (
            NumeroReferencia,
            CodigoEmpleado,
            CodigoCartera,
            NumeroProducto,
            TipoTransaccion,
            MontoTransaccion,
            FechaTransaccion,
            Descripcion
        )
        VALUES (
            @NumeroReferencia + '-CRED',
            @CodigoEmpleado,
            @CodigoCarteraDestino,
            @NumeroProductoDestino,
            'Transferencia Recibida',
            @MontoTransferencia,
            GETDATE(),
            @Descripcion + ' - Recibido de: ' + @NumeroProductoOrigen
        );
        
        COMMIT TRANSACTION;
        
        SET @Mensaje = 'Transferencia exitosa. Monto transferido: $' + 
                      CAST(@MontoTransferencia AS NVARCHAR(20)) + 
                      ' | Comisión: $' + CAST(@ComisionTransferencia AS NVARCHAR(10)) +
                      ' | Total debitado: $' + CAST(@MontoTotal AS NVARCHAR(20));
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Mensaje = 'Error al procesar la transferencia: ' + ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[pc_RecuperarCuentaDestino]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[pc_RecuperarCuentaDestino]
@CodigoCartera nvarchar(10),
@TipoCuenta nvarchar(10)
as
begin
select ProductoFinancieros.NumeroProducto, Cuenta.TipoCuenta, Cuenta.Saldo  from ProductoFinancieros
join 
Cuenta on
ProductoFinancieros.NumeroProducto = Cuenta.NumeroProducto
where CodigoCartera = @CodigoCartera and TipoCuenta = @TipoCuenta
end

GO
/****** Object:  StoredProcedure [dbo].[pc_RecuperarPrestamosCartera]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Crear el procedimiento corregido
CREATE PROCEDURE [dbo].[pc_RecuperarPrestamosCartera]
    @CodigoCartera NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        pf.NumeroProducto,
        p.TipoPrestamo,
        p.MontoOtorgado,
        p.SaldoPendiente,
        p.PlazoMeses,
        p.Cuota,
        p.FechaLimitePago,
        p.TasaInteres,
        p.CuotaSeguro,
        pf.FechaAdquisicion,
        pf.FechaCierre,
        pf.Estado,
        -- Columnas específicas por tipo de préstamo
        pp.NumeroReferencia,  -- Viene de PrestamoPersonal, no de Prestamo
        ph.ValorPropiedad,
        ph.TipoPropiedad,
        ph.DireccionPropiedad,
        pa.TipoActividad,
        pa.DescripcionActividad
    FROM ProductoFinancieros pf
    INNER JOIN Prestamo p 
        ON pf.NumeroProducto = p.NumeroProducto
    LEFT JOIN PrestamoPersonal pp 
        ON p.NumeroProducto = pp.NumeroProducto
    LEFT JOIN PrestamoHipotecario ph 
        ON p.NumeroProducto = ph.NumeroProducto
    LEFT JOIN PrestamoAgropecuario pa 
        ON p.NumeroProducto = pa.NumeroProducto
    WHERE pf.CodigoCartera = @CodigoCartera;
END;

GO
/****** Object:  StoredProcedure [dbo].[pc_RecuperarTarjetasCartera]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- PASO 2: Crear el procedimiento COMPLETO
-- =============================================
CREATE PROCEDURE [dbo].[pc_RecuperarTarjetasCartera]
    @CodigoCartera NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        -- Información básica de la tarjeta (tabla Tarjeta)
        T.NumeroProducto,
        T.NumeroTarjeta,
        T.TipoTarjeta,
        T.LimiteMonto,
        T.TipoRed,
        T.Categoria,
        T.TasaInteres,           -- AGREGADO
        T.CostoMembresia,        -- AGREGADO
        T.FechaExpiracion,       -- AGREGADO
        T.CVV,                   -- AGREGADO
        T.PIN,                   -- AGREGADO
        T.EstadoTarjeta,
        
        -- Información de saldos (tablas TarjetaDebito y TarjetaCredito)
        ISNULL(TB.SaldoDisponible, 0) AS SaldoDisponible,
        ISNULL(TC.LimiteCredito, 0) AS LimiteCredito,
        ISNULL(TC.SaldoUtilizado, 0) AS SaldoUtilizado,
        
        -- Cálculo del monto disponible según tipo de tarjeta
        CASE 
            WHEN T.TipoTarjeta = 'Credito' THEN (ISNULL(TC.LimiteCredito, 0) - ISNULL(TC.SaldoUtilizado, 0))
            WHEN T.TipoTarjeta = 'Debito' THEN ISNULL(TB.SaldoDisponible, 0)
            ELSE 0
        END AS MontoDisponible
    FROM Tarjeta T
    INNER JOIN ProductoFinancieros PF
        ON T.NumeroProducto = PF.NumeroProducto
    LEFT JOIN TarjetaDebito TB
        ON T.NumeroProducto = TB.NumeroProducto
    LEFT JOIN TarjetaCredito TC
        ON T.NumeroProducto = TC.NumeroProducto
    WHERE PF.CodigoCartera = @CodigoCartera
        AND T.EstadoTarjeta = 'Activa'
        AND PF.Estado = 'Activo'
    ORDER BY T.TipoTarjeta, T.NumeroTarjeta;
END

GO
/****** Object:  StoredProcedure [dbo].[registrarTransaccionDeposito]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[registrarTransaccionDeposito]
    @Numeroreferencia NVARCHAR(50),
    @CodigoEmpleado NVARCHAR(20),
    @CodigoCartera NVARCHAR(20),
    @MontoTransaccion DECIMAL(15,2),
    @Descripcion NVARCHAR(255),
    @NumeroProducto NVARCHAR(30),
    @TipoTransaccion NVARCHAR(50),
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    DECLARE @saldoActual DECIMAL(15,2);
    DECLARE @TipoProducto NVARCHAR(20);
    DECLARE @CarteraProducto NVARCHAR(20);
    DECLARE @EmpleadoExiste BIT = 0;
    
    -- Limpiar espacios en blanco
    SET @NumeroProducto = LTRIM(RTRIM(@NumeroProducto));
    SET @CodigoCartera = LTRIM(RTRIM(@CodigoCartera));
    SET @CodigoEmpleado = LTRIM(RTRIM(@CodigoEmpleado));

    -- Validar monto
    IF @MontoTransaccion <= 0
    BEGIN
        SET @Mensaje = 'El monto del depósito debe ser mayor que cero.';
        RETURN;
    END

    -- Validar que el empleado exista (si se proporcionó)
    IF @CodigoEmpleado IS NOT NULL AND @CodigoEmpleado != ''
    BEGIN
        IF EXISTS (SELECT 1 FROM Empleado WHERE CodigoUsuario = @CodigoEmpleado)
        BEGIN
            SET @EmpleadoExiste = 1;
        END
        ELSE
        BEGIN
            SET @Mensaje = 'El código de empleado no existe en el sistema.';
            RETURN;
        END
    END
    ELSE
    BEGIN
        -- Si no se proporciona empleado, establecer como NULL
        SET @CodigoEmpleado = NULL;
    END

    -- Validar que el producto financiero exista
    SELECT 
        @TipoProducto = TipoProducto,
        @CarteraProducto = CodigoCartera
    FROM ProductoFinancieros
    WHERE NumeroProducto = @NumeroProducto;

    IF @TipoProducto IS NULL
    BEGIN
        SET @Mensaje = 'Producto financiero no encontrado.';
        RETURN;
    END

    -- Validar que la cartera coincida
    IF @CarteraProducto != @CodigoCartera
    BEGIN
        SET @Mensaje = 'El producto no pertenece a la cartera especificada.';
        RETURN;
    END

    -- Validar que sea una cuenta
    IF @TipoProducto != 'Cuenta'
    BEGIN
        SET @Mensaje = 'El producto no es una cuenta válida para depósitos.';
        RETURN;
    END

    -- Recuperar saldo actual de la cuenta
    SELECT @saldoActual = Saldo
    FROM Cuenta
    WHERE NumeroProducto = @NumeroProducto;

    IF @saldoActual IS NULL
    BEGIN
        SET @Mensaje = 'Cuenta no encontrada en el sistema.';
        RETURN;
    END

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Actualizar saldo sumando el depósito
        UPDATE Cuenta
        SET Saldo = Saldo + @MontoTransaccion
        WHERE NumeroProducto = @NumeroProducto;

        -- Registrar transacción (CodigoEmpleado puede ser NULL)
        INSERT INTO Transaccion
            (NumeroReferencia, CodigoEmpleado, CodigoCartera, TipoTransaccion, 
             NumeroProducto, MontoTransaccion, Descripcion, FechaTransaccion)
        VALUES
            (@Numeroreferencia, @CodigoEmpleado, @CodigoCartera, @TipoTransaccion, 
             @NumeroProducto, @MontoTransaccion, @Descripcion, GETDATE());

        COMMIT TRANSACTION;

        SET @Mensaje = 'Depósito de $' + CAST(@MontoTransaccion AS NVARCHAR(20)) + 
                       ' realizado correctamente. Nuevo saldo: $' + 
                       CAST((@saldoActual + @MontoTransaccion) AS NVARCHAR(20));
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @Mensaje = 'Error al procesar el depósito: ' + ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[RetirarCuenta]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetirarCuenta]
    @NumeroProducto NVARCHAR(10),
    @Monto DECIMAL(10,2),
    @TipoCuenta NVARCHAR(20), -- 'Ahorro' o 'Corriente'
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    -- Validar monto
    IF @Monto <= 0
    BEGIN
        SET @Mensaje = 'El monto de retiro no puede ser negativo o cero';
        RETURN;
    END

    DECLARE @SaldoActual DECIMAL(10,2);

    -- Recuperar saldo de la cuenta según tipo
    SELECT @SaldoActual = Saldo
    FROM Cuenta
    WHERE NumeroProducto = @NumeroProducto AND TipoCuenta = @TipoCuenta;

    IF @SaldoActual IS NULL
    BEGIN
        SET @Mensaje = 'Cuenta no encontrada';
        RETURN;
    END

    IF @Monto > @SaldoActual
    BEGIN
        SET @Mensaje = 'No hay suficiente saldo en la cuenta';
        RETURN;
    END

    -- Realizar retiro
    UPDATE Cuenta
    SET Saldo = Saldo - @Monto
    WHERE NumeroProducto = @NumeroProducto;

    SET @Mensaje = CONCAT('Retiro de ', @TipoCuenta, ' realizado correctamente');
END

GO
/****** Object:  StoredProcedure [dbo].[RetirarDineroCuenta]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetirarDineroCuenta]
    @NumeroReferencia NVARCHAR(20),
    @NumeroProducto NVARCHAR(30),
    @Monto DECIMAL(15,2),
    @TipoCuenta NVARCHAR(20), -- 'Ahorro' o 'Corriente'
    @Descripcion NVARCHAR(100),
    @CodigoCartera NVARCHAR(10),
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    -- Validar monto
    IF @Monto <= 0
    BEGIN
        SET @Mensaje = 'El monto de retiro no puede ser negativo o cero';
        RETURN;
    END

    DECLARE @SaldoActual DECIMAL(15,2);

    -- Recuperar saldo actual
    SELECT @SaldoActual = Saldo
    FROM Cuenta
    WHERE NumeroProducto = @NumeroProducto
      AND TipoCuenta = @TipoCuenta;

    IF @SaldoActual IS NULL
    BEGIN
        SET @Mensaje = 'Cuenta no encontrada';
        RETURN;
    END

    IF @Monto > @SaldoActual
    BEGIN
        SET @Mensaje = 'No hay suficiente saldo en la cuenta';
        RETURN;
    END

    -- Actualizar saldo
    UPDATE Cuenta
    SET Saldo = Saldo - @Monto
    WHERE NumeroProducto = @NumeroProducto;

    -- Registrar transacción
    INSERT INTO Transaccion (
        NumeroReferencia,
        CodigoEmpleado,
        CodigoCartera,
        NumeroProducto,
        TipoTransaccion,
        MontoTransaccion,
        FechaTransaccion,
        Descripcion
    )
    VALUES (
        @NumeroReferencia,
        NULL,
        @CodigoCartera,
        @NumeroProducto,
        'Retiro',
        @Monto,
        GETDATE(),
        @Descripcion
    );

    SET @Mensaje = CONCAT('Retiro de ', @TipoCuenta, ' realizado correctamente');
END

GO
/****** Object:  StoredProcedure [dbo].[RetirarDineroTarjeta]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetirarDineroTarjeta]
    @NumeroReferencia NVARCHAR(50),
    @NumeroProducto NVARCHAR(30),
    @Monto DECIMAL(15,2),
    @TipoTarjeta NVARCHAR(20),
    @Descripcion NVARCHAR(255),
    @CodigoCartera NVARCHAR(20),
    @CodigoEmpleado NVARCHAR(20) = NULL,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @SaldoDisponible DECIMAL(15,2);
        DECLARE @LimiteCredito DECIMAL(15,2);
        DECLARE @SaldoUtilizado DECIMAL(15,2);
        DECLARE @EstadoTarjeta NVARCHAR(20);
        DECLARE @LimiteMonto DECIMAL(12,2);
        
        -- Validar que el monto sea positivo
        IF @Monto <= 0
        BEGIN
            SET @Mensaje = 'El monto debe ser mayor a cero';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Verificar estado de la tarjeta
        SELECT @EstadoTarjeta = EstadoTarjeta, @LimiteMonto = LimiteMonto
        FROM Tarjeta
        WHERE NumeroProducto = @NumeroProducto;
        
        IF @EstadoTarjeta IS NULL
        BEGIN
            SET @Mensaje = 'La tarjeta no existe';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        IF @EstadoTarjeta != 'Activa'
        BEGIN
            SET @Mensaje = 'La tarjeta no está activa';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Validar límite de monto por transacción
        IF @Monto > @LimiteMonto
        BEGIN
            SET @Mensaje = 'El monto excede el límite permitido por transacción: $' + CAST(@LimiteMonto AS NVARCHAR(20));
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Procesar según tipo de tarjeta
        IF @TipoTarjeta = 'Debito'
        BEGIN
            -- Obtener saldo disponible de tarjeta débito
            SELECT @SaldoDisponible = SaldoDisponible
            FROM TarjetaDebito
            WHERE NumeroProducto = @NumeroProducto;
            
            IF @SaldoDisponible IS NULL
            BEGIN
                SET @Mensaje = 'Tarjeta de débito no encontrada';
                ROLLBACK TRANSACTION;
                RETURN;
            END
            
            -- Validar saldo suficiente
            IF @SaldoDisponible < @Monto
            BEGIN
                SET @Mensaje = 'Saldo insuficiente. Saldo disponible: $' + CAST(@SaldoDisponible AS NVARCHAR(20));
                ROLLBACK TRANSACTION;
                RETURN;
            END
            
            -- Actualizar saldo de tarjeta débito
            UPDATE TarjetaDebito
            SET SaldoDisponible = SaldoDisponible - @Monto
            WHERE NumeroProducto = @NumeroProducto;
            
        END
        ELSE IF @TipoTarjeta = 'Credito'
        BEGIN
            -- Obtener datos de tarjeta crédito
            SELECT 
                @LimiteCredito = LimiteCredito,
                @SaldoUtilizado = SaldoUtilizado
            FROM TarjetaCredito
            WHERE NumeroProducto = @NumeroProducto;
            
            IF @LimiteCredito IS NULL
            BEGIN
                SET @Mensaje = 'Tarjeta de crédito no encontrada';
                ROLLBACK TRANSACTION;
                RETURN;
            END
            
            -- Calcular crédito disponible
            DECLARE @CreditoDisponible DECIMAL(15,2);
            SET @CreditoDisponible = @LimiteCredito - @SaldoUtilizado;
            
            -- Validar crédito disponible
            IF @CreditoDisponible < @Monto
            BEGIN
                SET @Mensaje = 'Crédito insuficiente. Crédito disponible: $' + CAST(@CreditoDisponible AS NVARCHAR(20));
                ROLLBACK TRANSACTION;
                RETURN;
            END
            
            -- Actualizar saldo utilizado de tarjeta crédito (aumenta la deuda)
            UPDATE TarjetaCredito
            SET SaldoUtilizado = SaldoUtilizado + @Monto
            WHERE NumeroProducto = @NumeroProducto;
            
        END
        ELSE
        BEGIN
            SET @Mensaje = 'Tipo de tarjeta no válido';
            ROLLBACK TRANSACTION;
            RETURN;
        END
        
        -- Registrar la transacción
        INSERT INTO Transaccion (
            NumeroReferencia,
            CodigoEmpleado,
            CodigoCartera,
            NumeroProducto,
            TipoTransaccion,
            MontoTransaccion,
            FechaTransaccion,
            Descripcion
        )
        VALUES (
            @NumeroReferencia,
            @CodigoEmpleado,
            @CodigoCartera,
            @NumeroProducto,
            'Retiro',
            @Monto,
            GETDATE(),
            @Descripcion
        );
        
        COMMIT TRANSACTION;
        SET @Mensaje = 'Retiro realizado exitosamente';
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Mensaje = 'Error: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarCliente]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarCliente]
    @CodigoUsuario NVARCHAR(20),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @DUI NVARCHAR(10),
    @FechaNacimiento DATE,
    @Edad INT,
    @CorreoElectronico NVARCHAR(150),
    @DireccionPersonal NVARCHAR(255),
    @SalarioMensual DECIMAL(10,2),
    @Telefono NVARCHAR(15),
    @Clave NVARCHAR(255),
    @TipoUsuario NVARCHAR(50),
    @DireccionTrabajo NVARCHAR(255),
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validar si ya existe DUI
        IF EXISTS(SELECT 1 FROM Usuario WHERE DUI = @DUI)
        BEGIN
            SET @Mensaje = 'El DUI ya existe, no se puede registrar.';
            RETURN;
        END

        BEGIN TRANSACTION;

        -- Insertar Usuario
        INSERT INTO Usuario
            (CodigoUsuario, Nombre, Apellido, DUI, FechaNacimiento, Edad, CorreoElectronico,
             DireccionPersonal, SalarioMensual, Telefono, Clave, TipoUsuario)
        VALUES
            (@CodigoUsuario, @Nombre, @Apellido, @DUI, @FechaNacimiento, @Edad, @CorreoElectronico,
             @DireccionPersonal, @SalarioMensual, @Telefono, @Clave, @TipoUsuario);

        -- Insertar Cliente
        INSERT INTO Cliente
            (CodigoUsuario, DireccionTrabajo)
        VALUES
            (@CodigoUsuario, @DireccionTrabajo);

        COMMIT TRANSACTION;
        SET @Mensaje = 'Cliente registrado correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarEmpleado]    Script Date: 10/26/2025 11:42:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarEmpleado]
    @CodigoUsuario NVARCHAR(20),
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @DUI NVARCHAR(10),
    @FechaNacimiento DATE,
    @Edad INT,
    @CorreoElectronico NVARCHAR(150),
    @DireccionPersonal NVARCHAR(255),
    @SalarioMensual DECIMAL(10,2),
    @Telefono NVARCHAR(15),
    @Clave NVARCHAR(255),
    @TipoUsuario NVARCHAR(50),
    @EstadoFamiliar NVARCHAR(50),
    @Puesto NVARCHAR(100),
    @Departamento NVARCHAR(100),
    @Profesion NVARCHAR(100) = NULL,
    @Mensaje NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validar si ya existe DUI
        IF EXISTS(SELECT 1 FROM Usuario WHERE DUI = @DUI)
        BEGIN
            SET @Mensaje = 'El DUI ya existe, no se puede registrar.';
            RETURN;
        END

        BEGIN TRANSACTION;

        -- Insertar Usuario
        INSERT INTO Usuario
            (CodigoUsuario, Nombre, Apellido, DUI, FechaNacimiento, Edad, CorreoElectronico,
             DireccionPersonal, SalarioMensual, Telefono, Clave, TipoUsuario)
        VALUES
            (@CodigoUsuario, @Nombre, @Apellido, @DUI, @FechaNacimiento, @Edad, @CorreoElectronico,
             @DireccionPersonal, @SalarioMensual, @Telefono, @Clave, @TipoUsuario);

        -- Insertar Empleado
        INSERT INTO Empleado
            (CodigoUsuario, EstadoFamiliar, Puesto, Departamento, Profesion, FechaContratacion)
        VALUES
            (@CodigoUsuario, @EstadoFamiliar, @Puesto, @Departamento, @Profesion, GETDATE());

        COMMIT TRANSACTION;
        SET @Mensaje = 'Empleado registrado correctamente.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END

GO
USE [master]
GO
