<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <!-- logo -->
    <link rel="shortcut icon" href="../../../resources/img/hat.png" type="image/x-icon">
    <!-- API -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js'></script>
    <!-- estilo -->
    <link rel="stylesheet" href="../../../resources/css/style2.css">
    <link rel="stylesheet" href="../../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../../resources/css/style.css">
    <link rel="stylesheet" href="../../../resources/css/em2.css">
    <link rel="stylesheet" href="../../../resources/css/estilos.css">


</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <img class="nav__logo" src="../../../resources/img/logoo2.png" alt="">
                <h2 class="nav__title">Bright Horizons Academy</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li><span>
                        <a href="../../cliente.php" class="nav__links">Inicio</a></span>
                </li>
                <li><span>
                        <a href="calendario.html" class="nav__links">Calendario</a></span>
                </li>
                <li><span>
                        <a href="../../contacto.html" class="nav__links">Contáctanos</a></span>
                </li>

                <li><span>
                        <a href="../../../controllers/login/login.php" class="nav__links">Biblioteca</a></span>
                </li>
                <li><span>
                        <a href="../../ver_horarios.php" class="nav__links">Horarios</a></span>
                </li>
                <li><span>
                        <a href="../../classroom/classroom.php" class="nav__links">Class</a></span>
                </li>
                <li><span>
                        <a href="../../login.html" class="nav__links">Cerrar sesión</a></span>
                </li>

                <img src="../../../resources/img/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="../../../resources/img/menu.svg" class="nav__img">
            </div>
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Bright Horizons Academy</h1>
            <h1 class="hero__title">Calendario</h1>

        </section>
    </header>


    <main>

        <!-- Calendario -->
        <div id='calendar'></div>

        <!-- scripts -->
        <script src="../../../resources/js/calendario.js"></script>
        <script src="../../../resources/js/menu.js"></script>

    </main>
</body>

</html>