<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AcomprendedoresDBEntities" connectionString="metadata=res://*/modelos.Usuario.csdl|res://*/modelos.Usuario.ssdl|res://*/modelos.Usuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EDU\SQLEXPRESS;initial catalog=AcomprendedoresDB;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="acomprendedoresProyecto.Properties.Settings.AcomprendedoresDBConnectionString"
      connectionString="Data Source=EDU\MSSQLSERVER01;Initial Catalog=AcomprendedoresDB;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>