*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
body{
    background-image: url(img/fondo.jpg);
}
.registro{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 7px #000;
}
.registro img{
    
    margin-left: 25%;
    width: 50%;
    height: 60%;
}
.registro h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.registro h5{
    text-align: center;
}
.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    
}
.registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.registro a{
    color: white;
    text-decoration: none;
}
.registro a:hover{
    color: white;
    text-decoration: underline;
}
.registro .boton{
    
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
