<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="shortcut icon" href="../resources/img/hat.png" type="image/x-icon">
    <link rel="stylesheet" href="../resources/css/normalize.css">
    <link rel="stylesheet" href="../resources/css/estilos.css">
    <link rel="stylesheet" href="../resources/css/contacto1.css">
    <script src="../resources/js/contacto.js"></script>
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <img class="nav__logo" src="../resources/img/logoo2.png" alt="">
                <h2 class="nav__title">Bright Horizons Academy</h2>
            </div>

            <ul class="nav__link nav__link--menu">
                <li><span>
                        <a href="cliente.php" class="nav__links">Inicio</a></span>
                </li>
                <li><span>
                        <a href="calendario/usuarios/calendario.html" class="nav__links">Calendario</a></span>
                </li>
                <li><span>
                        <a href="contacto.html" class="nav__links">Contáctanos</a></span>
                </li>

                <li><span>
                        <a href="../controllers/login/login.php" class="nav__links">Biblioteca</a></span>
                </li>
                <li><span>
                        <a href="ver_horarios.php" class="nav__links">Horarios</a></span>
                </li>
                <li><span>
                        <a href="classroom/classroom.php" class="nav__links">Class</a></span>
                </li>
                <li><span>
                        <a href="login.html" class="nav__links">Cerrar sesión</a></span>
                </li>

                <img src="../resources/img/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="../resources/img/menu.svg" class="nav__img">
            </div>
        </nav>

    
        <form action="../models/procesar_contacto.php" method="post" class="animate__animated animate__backInLeft">
            <h1>Contacto</h1>
            <p id="textoAyuda"></p>

            <div class="form-group">
                <input type="text" name="nombre" id="firstname" placeholder="Nombres..." autocomplete="off" tabindex="1"
                    maxlength="25" class="txtinput requested" />
                <span class="input-highlight"></span>
            </div>

            <div class="form-group">

                <input type="email" name="correo" id="email" placeholder="E-mail" autocomplete="off" tabindex="3"
                    maxlength="50" class="txtinput requested" />
                <span class="input-highlight"></span>
            </div>

            <div class="form-group">
                <textarea id="describe" name="mensaje" class="txtblock" placeholder="Descripción..."
                    tabindex="5"></textarea>
                <span class="input-highlight"></span>
            </div>

            <input type="submit" value="Enviar">

        </form>
    </header>
</body>

</html>