*{margin:0;
padding:0;}

body{
    font-family: Arial, Helvetica, sans-serif;

}


/* estilos grales */

nav ul{
    list-style-type: none;
}

nav li{
     line-height: 2.em;
}

nav a{
    color: gainsboro;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
}

nav a:hover{
    background: rgb(0, 0, 0.5);
}


/* Primer nivel */
nav>ul{
    background-color: darkslategrey;
    width: 100%;
 overflow: hidden;

}

nav>ul>li{
    float: left;
}

nav>ul>li>ul{
    position: absolute;
    display: none;
}

nav>ul>li:hover ul{
    display: block;
}

nav>ul>li>ul>li{
    background-color: #222;
}