/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    z-index: 1000;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.logo i {
    font-size: 24px;
    margin-right: 5px;
}

.navbar {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 1%;
    font-size: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 20px;
}

.navbar a:hover {
    color: #66ccff;
}

.user {
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #66ccff;
    transition: color 0.3s ease;
    font-size: 20px;
}

.user:hover {
    color: #333;
}
/* Container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



.container form {
    margin-top: 20px;
}

.container label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container input[type="submit"] {
    background-color: #66ccff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.container input[type="submit"]:hover {
    background-color: #007BFF;
}

/* Agregar más estilos según sea necesario */
