<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    <!-- logo -->
    <link rel="shortcut icon" href="../../../resources/img/hat.png" type="image/x-icon">
    <!-- API -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/es.js'></script>
    <!-- estilo -->
    <link rel="stylesheet" href="../../../resources/css/style2.css">
    <link rel="stylesheet" href="../../../resources/css/normalize.css">
    <link rel="stylesheet" href="../../../resources/css/style.css">
    <link rel="stylesheet" href="../../../resources/css/em2.css">
</head>

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">Bright Horizons Academy.</h2>
            </div>

            <ul class="nav__link nav__link--menu">

                <li class="nav__items">
                    <a href="../../admin.php" class="nav__links">Inicio</a>
                </li>

                <li class="option">
                    <a><button class="nav__dropdown-toggle">Profesores</button></a>
                    <div class="lista">
                        <p class="element"> <a href="../../secambioname.php" class="choice">G profesores</a></p>
                        <p class="element"> <a href="../../../controllers/profesores_horarios/agregar_horario.php"
                                class="choice">Asistencias
                                P</a></p>
                    </div>
                </li>
                <li class="option">
                    <a><button class="nav__dropdown-toggle2">Estudiantes</button></a>
                    <div class="lista2">
                        <p class="element"> <a href="../../../controllers/estudiante/adestudiantes.php" class="choice">G
                                estudiantes</a>
                        </p>
                        <p class="element"> <a href="calendario.html" class="choice">G calendario</a></p>
                        <p class="element"> <a href="../../../view/Notas/index.html" class="choice">Notas</a></p>
                        <p class="element"> <a href="../../../view/pagos/index_pagos.php" class="choice">Pagos</a></p>
                        <p class="element"> <a href="../../../controllers/horario/horario.php" class="choice">Horario</a></p>
                    </div>
                </li>

                <li class="option">
                    <a><button class="nav__dropdown-toggle3">Otros</button></a>
                    <div class="lista3">
                        <p class="element"> <a href="../../admin_libros.php" class="choice">Biblioteca </a> </p>
                        <p class="element"> <a href="../../registro.html" class="choice">Usuarios</a></p>
                        <p class="element"> <a href="../../comentario.php" class="choice">Comentarios</a></p>

                    </div>
                </li>



                <li class="nav__items">
                    <a href="../../../controllers/cerrar_sesion.php" class="nav__links">Cerrar sesión</a>
                </li>



                <img src="../../../resources/img/close.svg" class="nav__close">
            </ul>

            <div class="nav__menu">
                <img src="../../../resources/img/menu.svg" class="nav__img">
            </div>
        </nav>


        <section class="hero__container container" id="cont">
            <h1 class="hero__title">Bright Horizons Academy</h1>
            <p class="hero__title">gestión de estudiantes</p>
        </section>
    </header>
    <main>
        <!-- Formulario -->
        <div id="formulario">
            <form id="eventoFormulario" method="post">
                <h2>Nuevo evento</h2>
                <fieldset>
                    <label for="titulo">Título:</label>
                    <input type="text" id="titulo" name="titulo" required>
                    <br>
                    <label for="inicio">Fecha inicio:</label>
                    <input type="date" id="inicio" name="inicio" required>
                    <br>
                    <label for="fin">Fecha fin:</label>
                    <input type="date" id="fin" name="fin" required>
                </fieldset>
                <input type="submit" value="Guardar">
                <button id="cancelar">Salir</button>
            </form>
        </div>


        <!-- Eliminar eventos -->
        <div id="paginacion_contenedor">
            <div id="eventos_listar">
                <h1 id="tituloEventos">Eventos</h1>
                <button id="cancelar_evento">Salir</button>
                <ul id="eventos-lista">
                    <!-- eventos -->
                </ul>
                <!-- botones -->
                <div id="pagination-buttons">
                    <button id="pagina_anterior">Página anterior</button>
                    <button id="pagina_siguiente">Siguiente página</button>
                </div>
            </div>
        </div>

        <!-- Botones principales -->
        <div id="botones_principales">
            <button id="mostrar_Formulario">Nuevo Evento</button>
            <button id="eliminar_evento">Eliminar evento</button>
        </div>

        <!-- Calendario -->
        <div id='calendar'></div>

        <!-- scripts -->
        <script src="../../../resources/js/des.js"></script>
        <script src="../../../resources/js/calendario.js"></script>
        <script src="../../../resources/js/eliminar.js"></script>
        <script src="../../../resources/js/paginacion_eventos.js"></script>
        <script src="../../../resources/js/menu.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    </main>
</body>

</html>